
<h3>New <b>$!type</b></h3>

<form action="$url" method="post" name="configure" enctype="application/x-www-form-urlencoded" accept-charset="UTF-8" onsubmit="Utils.addJsonElement( this );">

<table>

<!-- #parse("default/org/seventyeight/model/resources/combine.vm") -->
$configurations
´
<tr>
	<td colspan="2" align="center"><input type="submit" value="OK"></td>
</tr>

</table>
</form>