
<script type="text/javascript">
$(function() {
    $('.upload').ajaxupload({
        url:'/upload',
        chunkSize: 0
    });
});

</script>

<tr>
	<td>File</td>
	<td><div class="upload"></div></td>
</tr>

