$item

<table>
    <tr>
        <td style="font-weight: bold">Field</td>
        <td style="font-weight: bold">Value</td>
    </tr>
#set ($map = $item.getFieldData() )
#foreach ($mapEntry in $map.entrySet())
    <tr>
        <td style="font-weight: bold">$mapEntry.key</td>
        <td>$mapEntry.value</td>
    </tr>
#end

</table>


#set( $list = $item.getEdges( null, $outbound ) )
#set( $caption = "Out bound relations" )
#parse( "edges.vm" )

#set( $list = $item.getEdges( null, $inbound ) )
#set( $caption = "In bound relations" )
#parse( "edges.vm" )