#macro( textField $name $title $default )
<tr>
    <td>
        $title
    </td>

    <td>
        <input name="$name" type="text" style="" class="input" value="$default">
    </td>
</tr>
#end

#macro( textarea $name $title $default )
<tr>
    <td>
       $title
    </td>

    <td>
        <textarea name="$name" style="resize:vertical;height:200px" class="input">$default</textarea>
    </td>
</tr>
#end

#macro( configureExtensions $extensionClass )

    #set( $descriptors = $core.getExtensionDescriptors( $extensionClass ) )
    $descriptors
    <tr>
        <td>
            <div title="extensionClass" style="width:100%">
                <input type="hidden" name="class" value="$class" />
                <table style="width:100%">
                    #foreach( $descriptor in $descriptors )
                        #renderDescriptor( $descriptor )
                    #end
                </table>
            </div>
        </td>
    </tr>
#end