<tr>
	<td style="width:100%" colspan="2">
		<div title="$title" style="width:100%">
			<input type="hidden" name="class" value="$class">
			<table style="width:100%">
				$configuration
			</table>
		</div>
	</td>
</tr>