<table style="width:100%;border-collapse: collapse;">
    <tr>
        <td align="right"><a href="/db/browse/resource/$item.getIdentifier()">Browse</a></td>
    </tr>

    <tr>
        <td align="center">
            $subchildcontent

            $item.getDisplayName()
        </td>
    </tr>

</table>